*{
    font-family: 'Poppins', sans-serif;
}
html,body{
    margin: 0;
    padding: 0;
}

/*barra navegacion */
header{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #8ad177;
    display: flex;
    flex-flow: row nowrap;
    height: 5em;
}
nav>img{
    margin-left: 3em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 25em;
}
#busqueda{
    margin-top: auto;
    margin-bottom: auto;
    height: 3em;
    width: 20em;
    border-radius: 10px;
    border-style: none;
    margin-left: 20em;
}
#acceso-rapido{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 5em;
}
#acceso-rapido *{
    margin-top: auto;
    margin-bottom: auto;
}
#acceso-rapido>p{
    margin-left: 1em;
}

/*parte de los mensajes*/
/*general*/
.mensajeria{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#todos-mensajes{
    grid-column: 1/2;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    border: 2px solid grey;
    display: flex;
    flex-flow: column wrap;
    width: 30em;
}
#mensaje-actual{
    padding: 0;
    grid-column: 2/4;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    border: 2px solid grey;
    display: flex;
    flex-flow: column nowrap;
}
/*estilo mensaje actual*/
.informacion-emisor{
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
}
.informacion-emisor>img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5em;
    margin-right: 1em;
}
.chat>.historial-chat{
    height: 30em;
    border-bottom: 1px solid gray;
}
.input-mensaje>input{
    margin: auto 1em auto 0em;
    width: 80%;
}
.input-mensaje>i:hover{
    color: #8ad177;
    cursor: pointer;
}