:root
{
  box-sizing: border-box;
  /* font-size: calc(0.3em + 1vw); */
}

*, ::before, ::after
{
  box-sizing: inherit;
}

body {
    padding-top: 70px;
    font-family: 'Cabin Condensed', sans-serif;
}

.form-group{
  position: relative;
}

.form-group i{
  position: absolute;
  right: 0px;
  top: 4px;
  padding: 9px 8px;
  color: green;
}