:root
{
  box-sizing: border-box;
  /* font-size: calc(0.3em + 1vw); */
}

*, ::before, ::after
{
  box-sizing: inherit;
}

body {
  padding-top: 70px;
  font-family: 'Cabin Condensed', sans-serif;
}

.text-inline{
  display: inline-block;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-end{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.text-small{
  font-size: 0.9em;
}

@media (min-width: 992px) and (max-width: 1199px){
  .text-lg-small{
    font-size: 0.8em;
  }

  .text-small{
    font-size: 0.8em;
  }
}
