<div class="jumbotron d-flex justify-content-center bg-success">
  <div>
    <img src="images/icon-ayuda-un-peludo.png" alt="Ayuda a un peludo">
  </div>
  <div class="text-center text-white">
    <h1 class="display-4">¡Encuentra a tu amigo peludo!</h1>
    <hr class="my-4">
    <p class="lead">Él está esperando por ti...</p>
  </div>
</div>
