<%- layout('Layout/template.ejs') %>

<!-- mainContainer -->
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-email-list" data-toggle="list" href="#list-email"
                    role="tab" aria-controls="email">Correo</a>
                <a class="list-group-item list-group-item-action" id="list-account-list" data-toggle="list" href="#list-account"
                    role="tab" aria-controls="account">Cuenta</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
                    role="tab" aria-controls="profile">Perfil</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-email" role="tabpanel" aria-labelledby="list-email-list">
                    <!--VALIDACION FORM PARA CAMBIAR CORREO-->
                    <%- include('Components/ChangeEmail.ejs') %>
                </div>
                <div class="tab-pane fade" id="list-account" role="tabpanel" aria-labelledby="list-account-list">
                    <!--VALIDACION FORM PARA CAMBIAR PASSWORD-->
                    <%- include('Components/ChangePassword.ejs') %>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <%- include('Components/ChangeProfilePic.ejs') %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mainContainer -->
