<%- layout('Layout/template.ejs') %>

<!-- mainContainer -->
    <div class="container">
        <!--CARDS INFORMATIVAS-->
        <div class="row cardcolor h3color">
            <%- include('Components/dashboardCards.ejs') %>
        </div>
        <!--TABLA CON TODOS LOS USUARIOS REGISTRADOS-->
        <%- include('Components/dashboardTable.ejs') %>
    </div>
<!-- mainContainer -->
