<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/style.css">
    <title>Document</title>
</head>
<body>
    <pre><%= error.stack %></pre>
    <h1> <%= message %></h1>
    <h2> <%= error.status %></h2>

    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops, USer you are looking for can't be found!</h2>
			<a href="/"><span class="arrow"></span>Regresar</a>
		</div>
    </div>
    
</body>
</html>




