


<pre><%= error.stack %></pre>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1> <%= message %></h1>
        </div>
        <h2> <%= error.status %></h2>
        <a href="#"><span class="arrow"></span>Return To Homepage</a>
    </div>
</div>