<%- layout('Layout/template.ejs') %>

<form action="/forgot" method="POST">
    <h1>Forgot Password</h1>
    <label for="email">Email</label>
    <input type="email" name="email">
    <button type="submit">Reset Password</button>
</form>