<%- layout('Layout/template.ejs') %>
<ul>
  <li>
    <a href='/facebook-login'> Sign Up With Facebook</a>
  </li>
  <li>
    <a href='/google-login'> Sign Up With Google</a>
  </li>
  <li>
    <a href="/forgot">Forgot Password</a>
  </li>
</ul>

  <div class="row">
      <div class="col-md-8 px-2">
          <%- include('./carrusel.ejs') %>
      </div>
      <div class="col-md-4 px-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" style="color:green" aria-selected="true">Inciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" style="color:green" aria-selected="false">Registrarme</a>
                </li>
            </ul>

              <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <%- include('Components/form-signin.ejs') %>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <%- include('Components/form-signup.ejs') %>
                    </div>
              </div>
        </div>
  </div>

  


  

  

