<%- layout('Layout/template.ejs') %>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Iniciar Sesion</button>
</form>
