<%- layout('Layout/template.ejs') %>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Iniciar Sesion</button>
</form>

<ul>
  <li>
    <a href='/facebook-login'> Sign Up With Facebook</a>
  </li>
  <li>
    <a href='/google-login'> Sign Up With Google</a>
  </li>
</ul>