<div class="card vh-all">
        <div class="card-header p-1">
          <div class="d-flex">
            <div class="pl-1">
              <a href="#">
                <img class="rounded-circle" src="https://s.gravatar.com/avatar/47dc454dc555e624caf972e9ecb3a67c?s=45">
              </a>
            </div>
            <div class="flex-align-center px-2">
              <h6 class="card-title mb-0">
                <a href="#" class="text-dark font-weight-bold">Alvaro García</a>
              </h6>
              <p class="card-subtitle"><small class="text-muted">@alvarogarcia1010</small></p>
            </div>
            <div class="ml-auto">
              <div class="dropdown flex-end align-items-center">
                <i class="fas fa-ellipsis-v  btn" id="publication-1" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"></i>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="publication-1">
                  <a class="dropdown-item" href="#">Ir a perfil</a>
                  <a class="dropdown-item" href="#">Eliminar chat</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body clearfix y-scroll p-1">
          <!--Inicio chat actual-->
          <ul class="p-2 mb-0">
            <!--Inicio mensaje 1 emisor-->
            <li class=" pr-0 d-flex justify-content-end mb-3">
              <div class="text-dark rounded p-2 w-75" style="background-color:#c1f79e;">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at libero
                  animi ab nisi incidunt corrupti eaque tenetur totam? Vel nihil quo officia
                  voluptatem esse, perferendis fuga omnis expedita laborum, accusamus molestias
                  fugit earum maxime ullam, deserunt maiores suscipit quibusdam quidem. Aliquam,
                  expedita. Nesciunt, iste accusantium? Culpa numquam alias facere error.</p>
              </div>
            </li>
            <!--Inicio mensaje 1 cliente-->
            <li class="pl-0 d-flex justify-content-start mb-3">
              <div class="bg-gray text-dark rounded p-2 w-75">
                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem quo ipsa, dolorem
                  quidem perspiciatis itaque optio incidunt deleniti, amet magni maxime dolores,
                  voluptatem ea quod exercitationem totam? Assumenda saepe labore dignissimos eos
                  ullam? Autem dolor natus libero voluptas doloremque hic.</p>
              </div>
            </li>
            <!--Inicio mensaje 2 emisor-->
            <li class=" pr-0 d-flex justify-content-end mb-3">
              <div class="text-dark rounded p-2 w-75" style="background-color:#c1f79e;">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at libero
                  animi ab nisi incidunt corrupti eaque tenetur totam? Vel nihil quo officia
                  voluptatem esse, perferendis fuga omnis expedita laborum, accusamus molestias
                  fugit earum maxime ullam, deserunt maiores suscipit quibusdam quidem. Aliquam,
                  expedita. Nesciunt, iste accusantium? Culpa numquam alias facere error.</p>
              </div>
            </li>
            <!--Inicio mensaje 1 cliente-->
            <li class="pl-0 d-flex justify-content-start mb-3">
              <div class="bg-gray text-dark rounded p-2 w-75">
                <p class="mb-0">Hola</p>
              </div>
            </li>
            <!--Inicio mensaje 2 emisor-->
            <li class=" pr-0 d-flex justify-content-end mb-3">
              <div class="text-dark rounded p-2 w-75" style="background-color:#c1f79e;">
                <p class="mb-0 text-right">Hola que tal</p>
              </div>
            </li>
            <!--Inicio mensaje 1 cliente-->
            <li class="pl-0 d-flex justify-content-start mb-3">
              <div class="bg-gray text-dark rounded p-2 w-75">
                <p class="mb-0">te envie un mensaje</p>
              </div>
            </li>
            <!--Inicio mensaje 2 emisor-->
            <li class=" pr-0 d-flex justify-content-end mb-3">
              <div class="text-dark rounded p-2 w-75" style="background-color:#c1f79e;">
                <p class="mb-0 text-right">Estoy probando</p>
              </div>
            </li>
          </ul>
          <!--Fin de chat actual-->
        </div>
        <div class="card-footer p-1">
          <form class="form-inline w-100">
            <div class="form-group flex-grow-1 mx-2 my-0">
              <textarea class="form-control form-control-sm w-100 js-auto-size" id="comment-box" rows="1" placeholder="Escribe un comentario..."></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Enviar</button>
          </form>
        </div>
      </div>