<div class="card">
    <div class="card-body p-2">
        <h5 class="card-title">Espacio Publicitario</h5>
        <p class="card-text">Proximamente contaremos con un espacio para que te anuncies.</p>
        <a href="#" class="btn btn-success disabled" >Anunciarme</a>
    </div>
</div>
