<div class="card vh-all">
        <div class="card-header space-between align-items-center text-md-small">
          <h5 class="card-title font-weight-bold my-1">Mensajes directos</h5>
          <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#send-private-message">
            Mensaje nuevo</button>
        </div>
        <!--Todos mis mensajes-->
        <div class="card-body p-0 clearfix y-scroll-panel">
          <form class="form p-2">
            <input class="form-control form-control-sm" type="search" placeholder="Buscar..." aria-label="Search">
          </form>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action px-2 py-3">
              <div class="row">
                <div class="col-2 col-xl-1 ">
                  <img class="rounded-circle" src="https://s.gravatar.com/avatar/47dc454dc555e624caf972e9ecb3a67c?s=40">
                </div>
                <div class="col-10 col-xl-11 pl-2 pr-3">
                  <div class="pl-md-3 pl-lg-1 pl-xl-4">
                    <div class="d-flex justify-content-between">
                      <h6 class="text-dark font-weight-bold mb-1">Alvaro García</h6>
                      <small class="text-muted">3 day ago</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-0 text-truncate">Lorem ipsum dolor sit, amet consectetur.</p>
                      <div>
                        <span class="badge badge-success mx-2">15</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action px-2 py-3">
              <div class="row">
                <div class="col-2 col-xl-1 ">
                  <img class="rounded-circle" src="https://s.gravatar.com/avatar/47dc454dc555e624caf972e9ecb3a67c?s=40">
                </div>
                <div class="col-10 col-xl-11 pl-2 pr-3">
                  <div class="pl-md-3 pl-lg-1 pl-xl-4">
                    <div class="d-flex justify-content-between">
                      <h6 class="text-dark font-weight-bold mb-1">Alvaro García</h6>
                      <small class="text-muted">09:59</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-0 text-truncate">ok.</p>
                      <div>
                        <span class="badge badge-success mx-2">1</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action px-2 py-3">
              <div class="row">
                <div class="col-2 col-xl-1 ">
                  <img class="rounded-circle" src="https://s.gravatar.com/avatar/47dc454dc555e624caf972e9ecb3a67c?s=40">
                </div>
                <div class="col-10 col-xl-11 pl-2 pr-3">
                  <div class="pl-md-3 pl-lg-1 pl-xl-4">
                    <div class="d-flex justify-content-between">
                      <h6 class="text-dark font-weight-bold mb-1">Alvaro García</h6>
                      <small class="text-muted">Ayer</small>
                    </div>
                    <div class="d-flex justify-content-between">
                      <p class="mb-0 text-truncate">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem quo
                        ipsa.</p>
                      <div>
                        <!-- <span class="badge badge-success mx-2">1</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>
        <!--Fin todos mis mensajes-->
      </div>