<form action="">
    <div class="form-group">
        <h2>Cuenta</h2>
        <label for="password-actual">Password actual:</label>
        <input type="password" id="password-actual" class="form-control">
    </div>
    <div class="form-group">
        <label for="password-nuevo">Password nuevo:</label>
        <input type="password" id="password-nuevo" class="form-control">
        <label for="password-nuevo-confirm">Confirmar password nuevo:</label>
        <input type="password" id="password-nuevo-confirm" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Guardar cambios</button>
</form>