<form class="needs-validation" novalidate>
    <div class="form-group">
        <h2>Cambia tu correo</h2>
        <label for="new-email">Nuevo correo electronico:</label>
        <input type="email" id="new-email" class="form-control" required>
        <div class="invalid-feedback">
            debe ingresar datos correctos para el correo
        </div>
    </div>
    <button type="submit" class="btn btn-success">Guardar cambios</button>
</form>