<form action="">
    <div class="form-group">
        <h2>Perfil</h2>
        <label for="cambiar-username">Cambiar username:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Cambiar username</button>

    <div class="form-group">
        <h2 class="mt-5">Cambiar foto de perfil:</h2>
        <label for="nueva-foto-perfil">Seleccionar una foto:</label>
        <input type="file" class="form-control-file" id="nueva-foto-perfil">
    </div>
    <button type="submit" class="btn btn-success">Cambiar foto de perfil</button>
</form>