<form class="needs-validation" id="resPass" novalidate action="/config" method="POST">
    <div class="form-group">
        <h2>Cuenta</h2>
        <label for="password-actual">Password actual:</label>
        <input type="password" name="password-actual" id="password-actual" class="form-control" required>
        <div class="valid-feedback">
            Password ingresado correctamente
        </div>
        <div class="invalid-feedback">
            Porfavor ingrese un valor para password valido
        </div>
    </div>
    <div class="form-group">
        <label for="password-nuevo">Password nuevo:</label>
        <input type="password" name="password" id="password" class="form-control" required>

        <div class="valid-feedback">
            Datos validos
        </div>
        <div class="invalid-feedback">
            Ingrese datos correctos para la confirmacion
        </div>
    </div>
    <div class="form-group">
        <label for="password-nuevo-confirm">Confirmar password nuevo:</label>
        <input type="password" id="password-nuevo-confirm" class="form-control" required>
        <div class="valid-feedback">
            Datos validos
        </div>
        <div class="invalid-feedback">
            Ingrese datos correctos para la confirmacion
        </div>
    </div>
    <button id="boton-password-confirm" type="submit" class="btn btn-success">Guardar cambios</button>
</form>