<!-- Condiciones de uso -->
<div class="modal fade" id="termsOfUse" tabindex="-1" role="dialog" aria-labelledby="termsOfUseTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title font-weight-bold" id="termsOfUseTitle">Condiciones de uso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ullam sapiente consectetur temporibus cupiditate totam molestias vero voluptas eum impedit, fugit accusantium iusto autem, explicabo eos quisquam maxime excepturi quas eaque itaque numquam voluptatibus iste. Deleniti labore et tempore consectetur saepe autem, perferendis debitis molestias maiores at ex aut hic.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>