<div class="col-sm-3">
    <div class="card ">
        <div class="card-header text-center">
            <h5>Usuarios</h5>
        </div>
        <div class="card-body bg-primary text-white">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-user"></i>
                <h2 id="role-user">0</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Administradores</h5>
        </div>
        <div class="card-body bg-success text-white">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-user-tie"></i>
                <h2 id="role-admin">0</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Publicaciones</h5>
        </div>
        <div class="card-body bg-danger text-white">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-newspaper"></i>
                <h2 id="count-publications">0</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Me empeluda</h5>
        </div>
        <div class="card-body bg-warning text-white">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-paw"></i>
                <h2 id="count-me-empeluda" >0</h2>
            </div>
        </div>
    </div>
</div>
