<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Usuarios</h5>
        </div>
        <div class="card-body bg-primary">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-user"></i>
                <h3>40</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Administradores</h5>
        </div>
        <div class="card-body bg-success">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-user-tie"></i>
                <h3>4</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Publicaciones</h5>
        </div>
        <div class="card-body bg-danger">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-newspaper"></i>
                <h3>100</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Me empeluda</h5>
        </div>
        <div class="card-body bg-warning">
            <div class="d-flex justify-content-around align-items-center">
                <i class="fas fa-paw"></i>
                <h3>5000</h3>
            </div>
        </div>
    </div>
</div>