<h4>Usuarios registrados:</h4>
    <table id="user-register" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Username</th>
                <th class="text-center">Admin option</th>
            </tr>
        </thead>
        <tbody id="list-users">

        </tbody>
    </table>
