<div class="card text-center">
    <a class="justify-content-center mt-2" href="#">
        <img class="card-img-top rounded-circle" style="width:75px" src="https://s.gravatar.com/avatar/31e81597c7a59321931c6a76324c13fd?s=100" alt="Card image">
    </a>
    <div class="card-body">
        <a href="#" class="card-title text-dark font-weight-bold">Daniel Alcoleas</a>
        <h6 class="card-subtitle text-center mb-2 text-muted">@alcoleas96</h6>
        <p class="card-text">Some quick example text to build on the card title and
        make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-success">Seguir</a>
    </div>
</div>
<div>&nbsp</div>
<div class="card text-center">
    <a class="justify-content-center mt-2" href="#">
        <img class="card-img-top rounded-circle" style="width:75px" src="https://s.gravatar.com/avatar/31e81597c7a59321931c6a76324c13fd?s=100" alt="Card image">
    </a>
    <div class="card-body">
        <a href="#" class="card-title text-dark font-weight-bold">Daniel Alcoleas</a>
        <h6 class="card-subtitle text-center mb-2 text-muted">@alcoleas96</h6>
        <p class="card-text">Some quick example text to build on the card title and
        make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-outline-success">Seguir</a>
    </div>
</div>