<div class="row1">
    <div class="column1">
        <img src="public/images/arc1.jpg">
        <img src="public/images/arc1.jpg">
    </div>
    <div class="column1">
        <img src="public/images/arc1.jpg">
        <img src="public/arc1.jpg">
    </div>
    <div class="column1">
        <img src="public/images/arc1.jpg">
        <img src="public/images/arc1.jpg">
    </div>     
</div>