<div class="modal fade" id="share-publication" tabindex="-1" role="dialog" aria-labelledby="share-publication-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="share-publication-title">Compartir con tus seguidores</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Mi comentario -->
              <form class="form-inline">
                <div class="form-group flex-grow-1 mb-3">
                  <textarea class="form-control js-auto-size form-control-sm w-100" id="share-comment-box" rows="1" placeholder="Escribe un comentario..."></textarea>
                </div>
              </form>
              <!-- Publicacion -->
              <div class="card card-body p-2">
                <!-- Información personal de la publicación -->
                <div class="d-flex">
                  <div class="pl-1">
                    <a href="#">
                      <img class="rounded-circle" src="https://s.gravatar.com/avatar/47dc454dc555e624caf972e9ecb3a67c?s=45">
                    </a>
                  </div>
                  <div class="flex-align-center px-2">
                    <h6 class="card-title mb-0">
                      <a href="#" class="text-dark font-weight-bold">Alvaro García</a>
                    </h6>
                    <p class="card-subtitle"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <!-- Fin de la información personal -->
                <!-- Texto -->
                <p class="card-text my-1">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-success">Compartir</button>
            </div>
          </div>
        </div>
      </div>