<!-- Modal -->
<div class="modal fade" id="recoverPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recuperar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center mb-4">
                    <h4>¿Olvidó su contraseña?</h4>
                    <p>Escriba su dirección de correo y le enviaremos instrucciones de como cambiar su contraseña.</p>
                </div>
                <form action="/forgot" method="POST" id="form-send-recover-mail">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="email" class="form-control" name="email" placeholder="Escriba su dirección de correo electrónico" required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="send-mail-recover-pass" >Reset Password</button>
                </form>
            </div>
         </div>
    </div>
</div> 

